<app-header></app-header>
<div class="checkOut-contanier">
    <div class="delivery-container">
        <h2>Delivery Address</h2>
        <h2>Personal Details</h2>
      <form action="">
        <div class="Username">
            <input type="text" placeholder="Enter Your Name">
        </div>
        <div class="Username">
            <input type="text" placeholder="Enter Your Name">
        </div>
        <div class="contact">
            <input type="number" placeholder="Enter Your Contact Number">
        </div>
      </form>
      <div class="contact-address">
        <h2>Address</h2>
        <form action="">
          <div class="HouseNo">
              <input type="text" placeholder="House No.">
          </div>
          <div class="Apartment Name">
              <input type="text" placeholder="Enter Apartment Name">
          </div>
        </form>
        <form action="">
          <div class="HouseNo">
              <input type="number" placeholder="House No.">
          </div>
          <div class="Apartment Name">
              <input type="text" placeholder="Enter Your Name">
          </div>
        </form>
        
        <form action="">
          <div class="City">
              <input type="text" placeholder="Enter Your City">
          </div>
          <div class="Area">
              <input type="text" placeholder="Enter Your Loacaltiy">
          </div>
          <div class="Pin Code">
              <input type="number" placeholder="Enter Your Pin Code">
          </div>
        </form>
      </div>
   

      <div class="btn">
        <button>Product Place</button>
      </div>
    </div>

    <div class="Apply-voucher">
       <div class="apply">
        <input type="text" placeholder="Enter Voucher Code">
        <button>Apply</button>
       </div>
       <div class="summary">
        <h2 class="summary-heading">Order Summary</h2>
        <div>
            <div class="totalAmount">
                <h2 class="summary-heading">Item Value</h2>
                <p>Rs.20.00</p>
            </div>
            <div class="totalAmount">
                <h2 class="summary-heading">Delivery Charges</h2>
                <p class="Delivery-free">Free</p>
            </div>
        </div>
        <div class="grand">
            <div class="totalGrand">
                <h2 class="summary-heading"><strong>Total Amount Payable</strong></h2>
                <p>Rs.100.00</p>
            </div>
            <div class="saving">
                <h2 class="summary-heading">Total Saving</h2>
                <p>Rs.10.00</p>
            </div>
        </div>
       </div>
    </div>
</div>