
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="middle">
            <img src="../assets/login.jpg" alt="">
        </div>
        <form class="login-form">
            <h1>Login</h1>
            <div class="Email">
                <input type="email" name="email" #email placeholder="Enter Emailid"  [(ngModel)]="loginObj.email">
            </div>
            <div class="Password">
                <input type="password" name="password"  placeholder="Enter Your Password" [(ngModel)]="loginObj.password">
            </div>
            <div class="btn">
                <button type="submit" class="s-btn" (click)="onLogin()">LogIn</button>
                <a href="" class="register" routerLink="/signUp">Sign Up</a>
            </div>
        </form>
    </div>
</body>
</html>
